<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176377907454-cjeq6op43vs0qmhk5opr04e3lajvbrak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176377907454-cjeq6op43vs0qmhk5opr04e3lajvbrak</string>
	<key>API_KEY</key>
	<string>AIzaSyC-TV_zleJ_iw8bXHG1PZGUymZGwlY1PtU</string>
	<key>GCM_SENDER_ID</key>
	<string>176377907454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beekctrl</string>
	<key>PROJECT_ID</key>
	<string>beekctrl</string>
	<key>STORAGE_BUCKET</key>
	<string>beekctrl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176377907454:ios:1841e0ad0b9e704a7bbdaf</string>
	<key>DATABASE_URL</key>
	<string>https://beekctrl.firebaseio.com</string>
</dict>
</plist>